.icon-text {
  opacity: 0;
  visibility: hidden;
  font-size: 0;
  transition: opacity 0.5s, visibility 0.5s, font-size 0.3s;
  
}

.sidebar:hover .icon-text {
  opacity: 1;
  visibility: visible;
  font-size: 1.5rem;
}

.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding: 0.25rem;
  width: 8%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: start;
  transition: width 0.5s;
}   

.sidebar a {
  text-decoration: none;
  font-size: 25px;
  margin-left: 1rem;
  color: #818181;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sidebar:hover {
  width: 20%;
}

.sidebar i {
  padding: 1rem;
}

.sidebar a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
